.cuadro {
    display: block;
    margin: auto;
    padding: 20px;
    background-color: #7ebaf1;
    width: 240px;
    height: 100px;
    border-radius: 20px;
}

.reloj {
    width: 100px;
    height: 50px;
    padding: 10px 10px;
    color: white;
    font: bold 1em dotum, "lucida sans", arial;
    text-align: center;
    float: right;
    margin: 0.5em 4em -3em 0.5em;
    align-content: center;
}