.calculadora {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #7c7c7c;
    width: 340px;
    height: 500px;
    border-radius: 25px;
}

.calculadora td button {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
}

.orilla {
    color: #fff;
    background-color: orange;
}

#creditos {
    display: block;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    width: 300px;
}

#resultado {
    display: block;
    text-align: right;
    font-size: 40px;
    margin-bottom: 15x;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(172, 172, 172);
    border-radius: 15px;
    overflow-y: scroll;
    color: white;
}

#cero {
    width: 145px;
}